/*// #ff9800 - orange
// #e51c23 - red
// #9c27b0 - pink*/

/*.list-group-item.active>.badge, .nav-pills>.active>a>.badge*/
body #root {
  background: #f7f7f9;
}

/*.nav-pills > .active > a > .badge.badgeOrange,
.nav-pills a > .badgeOrange {
  background: #ff9800;
}

.nav-pills > .active > a > .badge.badgeRed,
.nav-pills a > .badgeRed {
  background: #e51c23;
}

.nav-pills > .active > a > .badge.badgePink,
.nav-pills a > .badgePink {
  background: #9c27b0;
}

.nav-pills > .active > a > .badge.badgeGreen,
.nav-pills a > .badgeGreen {
  background: #5cb85c;
}*/

.badgeOrange {
  border: 1px solid #ff9800;
}

.badgeRed {
  border: 1px solid #e51c23;
}

.badgePink {
  border: 1px solid #9c27b0;
}

.badgeGreen {
  border: 1px solid #5cb85c;
}

.table.table-hover>thead>tr>th,
.table.table-hover>tbody>tr>th,
.table.table-hover>tfoot>tr>th,
.table.table-hover>thead>tr>td,
.table.table-hover>tbody>tr>td,
.table.table-hover>tfoot>tr>td {
  vertical-align: middle;
}

.mb0 {
  margin-bottom: 0
}
